* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
}

.content {
    padding: 20px;
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.item {
    width: 150px;
    height: 150px;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

@media (max-width:1084px) {
    .item{
        width: 260px;
    }
    
    .content{
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .item{
        width: 260px;
    }
    .content{
        justify-content: center;
    }
}

@media (max-width: 904px) {
        .item{
            width: 230px;
        }
}

@media (max-width: 813px) {
    .item{
        width: 190px;
    }


}

@media (max-width: 484px) {
    .item{
        width: 220px;
    }
}